* {
  box-sizing: border-box;
}


/* topwrapper */
.topwrapper {
  width: 1280px;
  height: 100%;
  background: #ffffff;
  margin: 0 auto;
}

/* toplinkarea */
.toplinkarea {
  width: 100%;
  height: 68px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.left_buttons {
  display: flex;
  gap: 10px;
}

.right_buttons {
  display: flex;
  gap: 10px;
}

.btn_menu,
.btn_pay,
.btn_talk,
.btn_notify,
.btn_shopping {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 0px;
}



/* 메뉴 버튼 */
.btn_menu::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -311px -166px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
}

/* 결제 버튼 */
.btn_pay::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -248px -260px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
}

/* 톡 버튼 */
.btn_talk::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -99px -316px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
}

/* 알림 버튼 */
.btn_notify::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -311px -232px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
}

/* 쇼핑 버튼 */
.btn_shopping::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -33px -316px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
}

/* 버튼 툴팁 */
.button-tooltip-wrapper {
  position: relative;
  display: inline-block;
  background-color: #ffffff00;
}

.tooltip {
  display: block;
  position: absolute;
  top: 100%;
  /* 버튼 바로 아래 */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 14px;
  z-index: 100;
  font-size: 14px;
  white-space: nowrap;
}

/* searcharea */
.searcharea {
  width: 100%;
  padding: 10px 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

.search_wrap {
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
}

.search_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search_logo {
  width: 10%;
  height: 54px;
}

.search_logo .link_naver {
  display: block;
  width: 100%;
  height: 100%;
}

.search_logo .naver_logo {
  width: 100%;
  height: 100%;
}

.search_input_wrap {
  width: 100%;
}

.search_input_area {
  position: relative;
  width: 100%;
  height: 50px;
  border: 2px solid #03c75a;
  border-radius: 24px;
  background-color: #fff;
}

.search_form {
  width: 100%;
  height: 100%;
}

.search_input {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  line-height: 100%;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
}

.btn_search {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.btn_search::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-right: -20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2303c75a"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>') no-repeat;
  background-size: contain;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* shortcutarea */
.shortcutarea {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shortcut-list {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.shortcut-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 64px;
  border: 0;
}



.link_service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #222;
}

.service_icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1.5px solid #e3e5e8;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  margin-bottom: 6px;
  position: relative;
}

.service_icon.type_mail::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -205px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_cafe::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -41px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_blog::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: 0px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_shopping::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -41px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_news::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -270px -205px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_stock::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -123px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_real::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: 0px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_map::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -270px 0px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_webtoon::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -164px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.service_icon.type_more::after {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: -270px -164px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.service_name {
  font-size: 13px;
  margin-top: 2px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #222;
  white-space: nowrap;
}



/* container */

.container-wrapper {
  width: 1280px;
  height: 100%;
  background: #000;
  margin: 0 auto;
}


.container {
  display: flex;
  flex-direction: row;
  background: #1815a6;
}

/* left-container */
.left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #45dc17;
  border-bottom: 1px solid #ddd;
  padding-right: 10px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* right-container */
.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #45dc17;
  border-bottom: 1px solid #ddd;
  padding-right: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* left-container-content */
.left-container-content {
  flex: 1;
  width: 100%;
  background: #ffffff;
  margin-bottom: 1px;
  border-radius: 8px;
  border: 3px solid #000000;
  margin-top: 10px;
}

/* 뉴스 스탠드 그리드뷰 */
.newsstand {
  padding: 10px;
  height: 90%;
}

/* 헤더 스타일 */
.contentHeader {
  margin-bottom: 10px;
}

.category-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
}

.category-item.active {
  background-color: #03c75a;
  color: white;
}

/* 그리드 뷰 스타일 */
.contentView {
  width: 100%;
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px 0;
}

.grid-item {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 200px;
}

.grid-item:hover {
  transform: translateY(-2px);
}

.news-thumb {
  height: 100px;
}

.news-thumb img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  /* 이미지 비율 유지하며 채우기 */
  border-radius: 8px 0 0 8px;
}

.news-info {
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.news-press {
  font-weight: bold;
  color: #222;
  margin-bottom: 4px;
}

.news-title {
  font-size: 15px;
  margin-bottom: 6px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.news-date {
  font-size: 12px;
  color: #888;
}


.contentPaging {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.paging-btn {
  padding: 8px 16px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.paging-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  gap: 5px;
}

.page-number {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.page-number.active {
  background-color: #03c75a;
  color: white;
  border-color: #03c75a;
}



/* 쇼핑 컨텐츠 */

.shopping_content_wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 왼쪽 요소 비율1 */
.shopping_content_left {
  flex: 1;  
  width: 100%;
  height: 100%;
}

/* 오른쪽 요소 비율2 */
.shopping_content_right {
  flex: 2;  
  width: 100%;
  height: 100%;
}

/* 헤더, 메뉴탭 리스트 */
.menu_tablist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 0px;
}

.menu_tabitem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_tabitem>a {
  text-decoration: none;
  color: #080808;
  font-size: 16.8px;
  transition: all 0.2s ease;
}

/* 호버 시 밑줄 */
.menu_tabitem>a:hover {
  text-decoration: underline;
}

.separator {
  display: inline-block;
  color: #080808;
  margin: 0 10px;
  text-decoration: none !important;
  pointer-events: none;
}

/* 선택시 볼드 */
.menu_tabitem.active {
  font-weight: 600;
  color: #000;
}

/* 세로 3열 flex */
.commerce_view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

/* 세로 3열 flex */
.commerce_mall_link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 12px;
}

.commerce_mall_link_item_group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.commerce_mall_link_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commerce_mall_link_item>a {
  text-decoration: none;
  color: #080808;
  font-size: 13px;
  transition: all 0.2s ease;
}

/* 호버 시 밑줄 */
.commerce_mall_link_item:hover {
  text-decoration: underline;
}

.commerce_mall_link_item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #080808;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 50%;
}

/* 네이버 쇼핑 바로가기 */
.commerce_quick_menu {
  width: 100%;
  background-color: #c0c0c0;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 8px;
  padding: 9px;
  margin-bottom: 12px;
}

.commerce_quick_menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* 아이템 크기 균등 분배 */
.commerce_quick_menu_item {
  flex: 1;
}

.commerce_quick_menu_link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

.commerce_quick_menu_link:hover{
  color: #000;
  text-decoration: underline;
}


.commerce_quick_menu_thumbnail{
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
}

.commerce_quick_menu_thumbnail::before{
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  background-image: url(https://spastatic.naver.com/v1/shopad/static/shopad-square-node/v2504301225/_next/static/media/sp_main.8149d447.png);
  background-size: 216px 190px;
  background-position: -124px -34px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.commerce_quick_menu_text{
  padding-top: 5px;
}



/* 오른쪽 아이템 */
.right-container-content {
  flex: 0 1 auto;
  width: 100%;
  height: fit-content;
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 3px solid #000000;
  margin-top: 10px;
}

.login-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-module_link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  padding: 15px 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 4px;
  background-color: #03c75a;
  -webkit-box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
  box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
  text-decoration: none;
  color: #fff;
}


.login-module_logo {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
  background-size: 463px 442px;
  background-position: 0px -301px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
  display: inline-block;
  margin: 3px 8px 0 0;
  vertical-align: top;
}

.login-module_more {
  padding: 10px;
}

.login-module_more>a {
  height: 20px;
  color: #000;
  text-decoration: none;
}

.login-module_more>a:hover {
  color: #000;
  text-decoration: underline;
}





/* footer */
.footer {
  width: 100%;
  background: #efefef;
}

.footer-wrapper {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.footer hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  width: 100%;
}

/* banner_area */
.banner_area {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

/* notice_area */
.notice_area {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.title>h3 {
  height: 20px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.link_all,
.title>a {
  height: 20px;
  color: #000;
  text-decoration: none;
}

.link_all:hover,
.title>a:hover {
  color: #000;
  text-decoration: underline;
}



/* aside_area */
.aside_area {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  opacity: 1;
}

.partner_box_wrap {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.partner_box {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.partner_box>h3 {
  width: 87px;
  padding-right: 10px;
}

.partner_box>a+a:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #474747;
  margin: 0 10px;
  vertical-align: middle;
}

.partner_box>a {
  color: #000;
  text-decoration: none;
}

.partner_box>a:hover {
  color: #000;
  text-decoration: underline;
}

.service_box_wrap {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.service_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.service_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
}

.service_info>a {
  color: #000;
  text-decoration: none;
}

.service_info>a:hover {
  color: #000;
  text-decoration: underline;
}


.service_logo {
  margin-right: 10px;
}



/* corp_area */
.corp_area {
  width: 100%;
  height: 100px;
  opacity: 1;
}

.corp_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px;
}

.corp_item {
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.corp_item>a {
  color: #000;
  text-decoration: none;
}

.corp_item>a:hover {
  color: #000;
  text-decoration: underline;
}

.footer .corp_list .corp_item+.corp_item:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #474747;
  margin: 0 10px;
  vertical-align: middle;
}